@media screen and (min-width: 1000px) {
    .home-grid {
        grid-template-columns: 3fr 9fr;
        display: grid;
        column-gap: 100px;
    }

    .project-grid {
        grid-template-columns: 3fr 3fr 6fr;
    }

    .img-small {
        width: 600px;
    }
}

@media screen and (max-width: 999px) {
    #card-grid, .gallery-grid {
        grid-template-columns: auto auto;
    }

    .img-header {
        grid-template-columns: auto auto;
    }

    body {
        width: 90vw;
    }

    .img-small {
        width: 100%;
    }
}

body {
    margin: 20px auto;
    width: 90vw;
}

.project-display {
    width: 100%;
}

.home-grid div{
    margin-bottom: 40px;
}

img {
    width: inherit;
    margin-bottom: 40px;
}

ul{
    list-style: none;
    padding: 0px;
}