@media screen and (min-width: 1200px) {
    .home-grid {
        grid-template-columns: 3fr 9fr;
    }

    .project-grid {
        grid-template-columns: 3fr 3fr 6fr;
    }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    #card-grid, .gallery-grid {
        grid-template-columns: auto auto;
    }

    .img-header {
        grid-template-columns: auto auto;
    }

    body {
        width: 90vw;
    }
}

body {
    margin: 20px auto;
    width: 90vw;
}

.home-grid {
    display: grid;
    column-gap: 70px;
}

.img-small {
    width: 600px;
}

.project-display img{
    width: 100%;
    margin-bottom: 40px;
}

p {
    text-align: justify;
}